<!DOCTYPE html>
<html>
<head>
	<title>Webpy tile cache</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="../static/leaflet.css" />
	<link rel="stylesheet" href="../static/leaflet.draw.css" />
	<link rel="stylesheet" href="../static/MarkerCluster.css" />
	<link rel="stylesheet" href="../static/MarkerCluster.Default.css" />
<style>
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0;}
      #map{ height: 100% }
</style>	
</head>
<body>
	<div id="map"></div>
	<script src="../static/leaflet.js"></script>
	<script src="../static/leaflet.draw.js"></script>
	<script src="../static/leaflet.markercluster.js"></script>
	<script src="../static/leafletembed.js"></script>
</body>
</html>

